<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.Mapper.WalletDetailMapper" >

    <insert id="InsertDetail" parameterType="com.example.pojo.Wallet_detail">
        insert into wallet_detail(id,user_id,type,amount,balance,remark,create_time)values (#{walletDetail.wallet_detailId},
                                                                                            #{walletDetail.userId},#{walletDetail.type},#{walletDetail.amount},
                                                                                            #{walletDetail.balance},#{walletDetail.remark},#{walletDetail.createTime});
    </insert>

    <select id="SellectAllDetail" parameterType="list" resultMap="WalletDetail">
        select * from wallet_detail where user_id = #{userId} ORDER BY create_time Desc;
    </select>

    <resultMap id="WalletDetail" type="com.example.pojo.Wallet_detail">
        <id column="id" property="wallet_detailId"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="balance" property="balance"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>